
@media only screen and (min-width: 1010px) {
  .avatar_top{
    
    position: unset !important;
    object-fit: contain;
    width: 100% ;
    height: unset !important;
    border: solid #eaefef 4px;
  
  }
}

@media only screen and (max-width: 1010px) {

  .avatar_top{
    
      position: unset !important;
      object-fit: contain;
      width: 100% !important;
      height: unset !important;
     border-radius: 50%;
     border: solid #eaefef 4px;

    }
}
